ul {
	list-style-type: none;
	padding: 0 0 0 0;
	font-family: helvetica, sans-serif;
	color: gray;
}

/*
button.btn {
	margin:0;
}
*/

li {
	/* overflow:hidden; */
	/*background-color:#cac5c5;*/
	word-wrap: break-word;
	/* text-overflow: ellipsis; */
}

input {
	color: purple;
	font-style: italic;
	font-family: helvetica, sans-serif;
	padding-left: 5px;
}

#todoText {
	width:400px;
	border:2px solid darkgrey;
	height: 16px;
}

#TodoTable {
	border: 2px solid darkgrey;
	min-height: 50px;
	max-height: auto;
	background:#DFE3F0;
	padding: 5px 0 5px 0;
}

#TodoTable > li {
	border-bottom: 1px dashed darkgrey;
	padding: 0 5px 0 5px;
	font-family: Helvetica sans-serif;
	letter-spacing: 1px;
	color: #7F88A3;
}


.btn {
	border: 2px solid darkgrey;
	background: #DFE3F0;
	position:relative;
	right: -5px;
	color: rgb(102, 88, 108);
	font-weight: bold;
}

input.checkbox {
	display:inline;
	padding: 0 0 0 0px;
	margin: 3px 0 0 0px;
	float: right;
}

div#page-wrap {
	width:500px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div#TodoTable-wrapper {
	display: block;
	height: auto;
	width: inherit;
}
